@charset 'utf-8';

#first_animetion{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 500;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .first_logo{
        width: 30vw;
        height: auto;

    }
    .first_title{
        display: none;

        p{
            color: #ffffff;
            font-size: 2vw;
            font-family: source-han-sans-cjk-ja, sans-serif;
            font-weight: 100;
            font-style: normal;
        }
    }
}
@media screen and (max-width: 480px){
    #first_animetion{

        .first_logo{
            width: 70vw !important;
            height: auto;
        
    }
}
}