@charset "utf-8";

@keyframes img_show{
    0%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }

}
@keyframes scroll_down{
    100%{
        transform: translateY(100%);
    }
}
.top_img{
    
    img{
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        animation: img_show 16s infinite;
        opacity: 0;
        transition: ease-in-out;
    }
    .index_img_1{
        animation-delay: 0s;
    }
    .index_img_2{
        animation-delay: 4s;
    }
    .index_img_3{
        animation-delay: 8s;
    }
    .index_img_4{
        animation-delay: 12s;
    }
    .index_img_cover{
        width: 100vw;
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.6);
        position: fixed;
        z-index: 11;
        top: 0%;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .scroll_line_wrap{
        width: 5vw;
        height: 16vh;
        position: fixed;
        z-index: 12;
        bottom: 5%;
        right: 3%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        .scroll_line{
            width: 1px;
            height: 16vh;
            background-color: #ffffff;
            transform: translateY(-100%);
            animation: scroll_down 2s infinite;
        }
    }
}
#absolute_section{
    position: absolute;
    z-index: 20;
    top: 100%;
}
main{
    background-image: url('background_white.png');
    width: 100vw;
    height: auto;

    .title_text{
        width: 90vw;
        height: auto;
        margin-left: 10vw;
        margin-bottom: 18vh;


        h2{
            color: #000;
            font-size: 3.2vw;
            font-family: bc-alphapipe, sans-serif;
            font-weight: 200;
            font-style: normal;
            padding-top: 10vh;
            margin-bottom: 0;
        }
        h3{
            color: #000;
            font-size: 1.8vw;
            font-family: source-han-sans-cjk-ja, sans-serif;
            font-weight: 100;
            font-style: normal;   
            margin-top: 3px;
        }
    }
    .ability_wrap{
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .ability_img_wrap{
            width: 38%;
            height: 40vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            img{
                width: 85%;
                height: 85%;
                object-fit: cover;
            }
        }
        .ability_text_wrap{
            width: 62%;
            height: 40vh;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .ability_text{
                width: 50vw !important;
                width: 30vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                overflow: hidden;

                h4{
                    color: #000;
                    font-size: 2.2vw;
                    font-family: bc-alphapipe, sans-serif;
                    font-weight: 200;
                    font-style: normal;
                    margin-bottom: 0;
                }
                h5{
                    color: #000;
                    font-size: 1.3vw;
                    font-family: source-han-sans-cjk-ja, sans-serif;
                    font-weight: 100;
                    font-style: normal;   
                    margin-top: 3px;
                }
                p{
                    color: #000;
                    width: 70%;
                    height: auto;
                    font-size: 0.9vw;
                    font-family: source-han-sans-cjk-ja, sans-serif;
                    font-weight: 100;
                    font-style: normal;   
                    margin-top: 3px;
                }
                a{
                    width: 100%;
                    color: #000;
                    height: auto;
                    text-decoration: none;
                    font-size: 1.1vw;
                    font-family: source-han-sans-cjk-ja, sans-serif;
                    border-bottom: 0.4px solid #7D0633;
                    padding-left: 1vw;
                    
                }
            }
        }
    }
    .index_contact_wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #08192D;
        width: 100vw;
        height: 32vh;
        margin-top: 24vh;

        .index_contact{
            width: 74%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            p{
                color: #ffffff;
                font-size: 0.9vw;
                font-family: source-han-sans-cjk-ja, sans-serif;
                font-weight: 100;
                font-style: normal;   
                margin-top: 3px;
            }
            .contact_button_wrap{
                    width: 36%;
                    height: 21%;
                    background-color: #7D0633;
                    border: none;
                    margin-top: 1vh;
                    transition: 0.2s ease-in-out;

                a{  
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    color: #fff;
                    font-size: 0.9vw;
                    font-family: source-han-sans-cjk-ja, sans-serif;
                    font-weight: 100;
                    font-style: normal;  
                }
            }
            .contact_button_wrap:hover{
                transform: translateY(-8px);
            }
        }
    }
}
@media screen and (max-width: 480px){
    main{

        .title_text{
            margin-bottom: 5vh;

            h2{
                font-size: 11vw;
            }
            h3{
                font-size: 5.2vw;
            }
        }
        .ability_wrap{

            .ability_img_wrap{
                height: 20vh;
            }
            .ability_text_wrap{
                height: 20vh;
            }
        }
        .index_contact_wrap{
            margin-top: 12vh;

            .index_contact{

                .contact_button_wrap{
                    width: 80%;
                }
            }
        }
    }
}